* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.main_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ป้องกันการเลื่อนเฉพาะหน้า main_page */
.main-lock {
  overflow: hidden; /* ล็อคไม่ให้เลื่อน */
  height: 100%; /* ล็อคความสูง */
}

/* อนุญาตให้หน้าอื่นเลื่อนขึ้นลงได้ */
.App {
  overflow-y: auto; /* อนุญาตให้เลื่อนในแนวตั้ง */
  height: auto; /* ใช้ความสูงตามเนื้อหา */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust for Navbar height */
  overflow: hidden;
}

.Map {
  position: relative;
  z-index: 1;
  height: 60vh;
  /* outline: 1px solid red; */
}

.container_bottom {
  display: flex;
  gap: 1px;
  width: 100%;
  flex-grow: 1; /* Ensure it takes remaining space */
  overflow: hidden;
}

.bottom_left {
  flex: 1;
  z-index: 2;
}

.bottom_right {
  flex: 3;
  z-index: 1;
  position: relative;
}

/* .rightsize {
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 25rem;
  z-index: 2;
  position: absolute;
  right: 0rem;
  overflow-x: 100px;
} */

.leftsize{
  display: flex;
  position: absolute;
  gap: 0px;
  margin-top: 1px;
  z-index: 1;
  width: 28rem;
  border-radius: 0px 10px 10px 0px;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../public/Background3.jpg);
  background-size: cover; /* ปรับให้ภาพพื้นหลังครอบคลุมทั้งพื้นที่ */
  background-position: center; /* จัดตำแหน่งภาพไว้ตรงกลาง */
  background-repeat: no-repeat; /* ป้องกันการทำซ้ำของภาพ */
  background-attachment: fixed; /* ภาพพื้นหลังจะคงที่ */
  height: 92.4vh;
  /* เพิ่มความสว่าง 5% */
  /* filter: brightness(1.3); */
}
.createuser {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
  height: 90vh;
}

/* .Login-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; 
} */



/* New media queries for better responsiveness */
/* @media screen and (max-width: 1980px) and (max-height: 1080px) {
  .rightsize {
    width: 20rem;
  }
} */

@media screen and (min-width: 1920px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    height: 90vh;
  }

  .Map {
    height: 50vh;
  }

  .rightsize {
    display: flex;
    width: 19.5rem;
    right: 0rem;
    outline: 1px solid red;
  }

  .bottom_left {
    width: 15%;
  }

  .bottom_right {
    width: 85%;
  }

  .leftsize{
    display: flex;
    position: absolute;
    gap: 0px;
    margin-top: 1px;
    z-index: 1;
    width: 20rem;
    /* border: 1px solid red; */
    border-radius: 0px 10px 10px 0px;
  }

  html, body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
}

@media screen and (max-width: 1200px) {
  .container {
    height: 85vh;
  }

  .Map {
    height: 45vh;
  }

  .rightsize {
    width: 10rem;
  }

  .bottom_left {
    flex: 1;
  }

  .bottom_right {
    flex: 3;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 80vh;
  }

  .Map {
    height: 40vh;
  }

  .rightsize {
    width: 9rem;
    right: 2rem;
  }

  .container_bottom {
    flex-direction: column;
  }

  .bottom_left, .bottom_right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 75vh;
  }

  .Map {
    height: 35vh;
  }

  .rightsize {
    width: 8rem;
    right: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .container {
    height: 70vh;
  }

  .Map {
    height: 30vh;
  }

  .rightsize {
    width: 7rem;
    right: 0.5rem;
  }
}
